{
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 120,
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "objectCurlySpacing": false
}

